footer{
	background:$dark-cyan;
	color:white;
	padding:140px 20px 30px 20px;
	@media screen and (min-width: 1000px) {
		padding:140px 90px 50px 90px;
	}
	div:nth-of-type(1){
		@media screen and (min-width:1000px) {
			display:flex;
			jusity-content:space-between;
			flex-wrap:wrap;
		}
		.logo{
			display:block;
			filter:invert(100%);
			@media screen and (min-width:1000px) {
				margin:-0 0 30px 0;
			}
		}
		.div-contact{
			margin:30px 0 35px 0;
			display:block;
			@media screen and (min-width:1000px) {
				width:30%;
				margin:0;
			}
			span{
				display:block;
				margin:0 0 30px 0;
				img{
					margin:0 15px 0 0;
				}
				a{
					color:white;
				}
			}
			span:nth-of-type(1){
				img{
					float:left;
				}
				div{
					margin:0 0 0 15px;
					display:block;
				}
			}


		}
		div:nth-of-type(3){
				margin:0 0 30px 0;
				@media screen and (min-width: 1000px) {
					display:flex;
					justify-content:space-between;
					margin:0 auto;
					align-items:flex-start;
					width:25%;
				}
				ul{
					li{
						margin:0 0 15px 0;
					}
				}
			}
			div:nth-of-type(4) {
				margin:0 auto;
				width:120px;
				display:flex;
				justify-content: space-between;
				@media screen and (min-width:1000px) {
						align-items:flex-start;
						margin:0 12% 0 auto;
					}
				img{
					width:35px;
					border-radius:50%;
					border-style:solid;
					border-color:black;
					border-width: 1px;
					filter:invert(100%);
					padding:4px;

				}
			}
			.copyright{
				display:block;
				margin:20px auto 0 auto;
				text-align:center;
				width:100%;
				@media screen and (min-width:1000px) {
					text-align:right;
				}
			}
	}
}