//primary
$pink:hsl(322, 100%, 66%);
//neutral
$pale-cyan:hsl(193, 100%, 96%);
$dark-cyan:hsl(192, 100%, 9%);
$grayish-blue:hsl(208, 11%, 55%);


//headings 600
$poppins:'Poppins';

//body, call-to-actions 400,700
$opensans:'Open Sans';